.body{
    background-color: blue;
}
.navbar{
    height: 70px;
}
#mynavbar{
    background-color: darkgreen;
}
#about-us:hover{
    background-color: whea;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 8px;
}
.vertical-line{
    border-left: 2px solid gray;
    height: 68px;
    position: absolute;
    left: 93%;
    margin-left: -3px;
    top: 0;
}
.account-icon{
    margin-right:15px;
}
.account-icon:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.modal-content{
    background-color: lightblue;
}
.required{
    color: red;
}
#new-account-coontainer{
    height: 200px;
    background-color: burlywood;
}
.col-register{
    height: 180px;
}
.modal-form{
    border-top: 2px solid black;
}
.model-new-account{
    color: black;
}
.create-account-btn{
    padding: 30px;
}
.carousel-img{
    width: 100%;
}
/* .display-4{
    text-decoration:underline;
} */
.list1{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    background: #f4f4f4; 
    text-align: center; 
} 
.list-item{ 
    display: inline-block; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin: 10px; 
    background-color: #fff; 
    box-shadow: 2px 2px 2px #ccc; 
    transition: 0.3s; 
} 
.list-item:hover{ 
    cursor: pointer;
    transform: scale(1.1); 
    box-shadow: 4px 4px 4px green;
    color: green;
}
.heading{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    background: lightblue; 
    text-align: center; 
}
.features-hr{
    width: 50%;
    border: 1px solid #000;
}
.list2{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    background: #f4f4f4; 
    text-align: center; 
} 
.list-item-features{ 
    display: inline-block; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin: 10px; 
    background-color: #fff; 
    box-shadow: 2px 2px 2px #ccc; 
    transition: 0.3s; 
} 
.list-item-features:hover{ 
    cursor: pointer;
    transform: scale(1.1); 
    box-shadow: 4px 4px 4px #ccc;
    color: white;
    background-color: darkgreen; 
}
.features-heading{
    color: red;
}

#back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: #dddddd;
    font-size: 12px;
    padding: 1em;
    display: none;
}

#back-to-top:hover {
    background-color: #000000;
    color: #ffffff;
}
.info-starter-kit{
    text-align: center;
    font-size: 20px;
}
.hr-comment{
    width: 50%;
    border: 1px solid #000;
}
.span-img{
    color: red;
}


/********************Extra code (not in use)********************/
/* .body{
    background-color: blue;
}
.navbar{
    height: 70px;
}
#mynavbar{
    background-color: darkgreen;
}
#about-us:hover{
    background-color: whea;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 8px;
}
.vertical-line{
    border-left: 2px solid gray;
    height: 68px;
    position: absolute;
    left: 93%;
    margin-left: -3px;
    top: 0;
}
.account-icon{
    margin-right:15px;
}
.account-icon:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.modal-content{
    background-color: lightblue;
}
.required{
    color: red;
}
#new-account-coontainer{
    height: 200px;
    background-color: burlywood;
}
.col-register{
    height: 180px;
}
.modal-form{
    border-top: 2px solid black;
}
.model-new-account{
    color: black;
}
.create-account-btn{
    padding: 30px;
}
.carousel-img{
    width: 100%;
} */
/* .display-4{
    text-decoration:underline;
/* } */
/* .list1{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    background: #f4f4f4; 
    text-align: center; 
} 
.list-item{ 
    display: inline-block; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin: 10px; 
    background-color: #fff; 
    box-shadow: 2px 2px 2px #ccc; 
    transition: 0.3s;  */ /* } 
.list-item:hover{ 
    cursor: pointer;
    transform: scale(1.1); 
    box-shadow: 4px 4px 4px green;
    color: green;
}
.heading{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    background: lightblue; 
    text-align: center; 
}
.features-hr{ */
    /* width: 50%;
}
.list2{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    background: #f4f4f4; 
    text-align: center; 
} 
.list-item-features{ 
    display: inline-block; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin: 10px; 
    background-color: #fff; 
    box-shadow: 2px 2px 2px #ccc; 
    transition: 0.3s;  */
/* } 
.list-item-features:hover{ 
    cursor: pointer;
    transform: scale(1.1); 
    box-shadow: 4px 4px 4px #ccc;
    color: white;
    background-color: darkgreen; 
/* } */
/* .features-heading{
    color: red;
} */ 
/* 
#back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: #dddddd;
    font-size: 12px;
    padding: 1em;
    display: none;
} */
/* 
#back-to-top:hover {
    background-color: #000000;
    color: #ffffff;
} */
/* 
.body{
    background-color: blue;
}
.navbar{
    height: 70px;
}
#mynavbar{
    background-color: darkgreen;
}
#about-us:hover{
    background-color: whea;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 8px;
}
.vertical-line{
    border-left: 2px solid gray;
    height: 68px;
    position: absolute;
    left: 93%;
    margin-left: -3px;
    top: 0;
}
.account-icon{
    margin-right:15px;
}
.account-icon:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.modal-content{
    background-color: lightblue;
}
.required{
    color: red;
}
#new-account-coontainer{
    height: 200px;
    background-color: burlywood;
}
.col-register{
    height: 180px;
}
.modal-form{
    border-top: 2px solid black;
}
.model-new-account{
    color: black;
}
.create-account-btn{
    padding: 30px;
}
.carousel-img{
    width: 100%;
}
.body{
    background-color: blue;
}
.navbar{
    height: 70px;
}
#mynavbar{
    background-color: darkgreen;
}
#about-us:hover{
    background-color: whea;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 8px;
}
.vertical-line{
    border-left: 2px solid gray;
    height: 68px;
    position: absolute;
    left: 93%;
    margin-left: -3px;
    top: 0;
}
.account-icon{
    margin-right:15px;
}
.account-icon:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.modal-content{
    background-color: lightblue;
}
.required{
    color: red;
}
#new-account-coontainer{
    height: 200px;
    background-color: burlywood;
}
.col-register{
    height: 180px;
}
.modal-form{
    border-top: 2px solid black;
}
.model-new-account{
    color: black;
}
.create-account-btn{
    padding: 30px;
}
.carousel-img{
    width: 100%;
}
.body{
    background-color: blue;
}
.navbar{
    height: 70px;
}
#mynavbar{
    background-color: darkgreen;
}
#about-us:hover{
    background-color: whea;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 8px;
}
.vertical-line{
    border-left: 2px solid gray;
    height: 68px;
    position: absolute;
    left: 93%;
    margin-left: -3px;
    top: 0;
}
.account-icon{
    margin-right:15px;
}
.account-icon:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.modal-content{
    background-color: lightblue;
}
.required{
    color: red;
}
#new-account-coontainer{
    height: 200px;
    background-color: burlywood;
}
.col-register{
    height: 180px;
}
.modal-form{
    border-top: 2px solid black;
}
.model-new-account{
    color: black;
}
.create-account-btn{
    padding: 30px;
}
.carousel-img{
    width: 100%;
}
\.body{
    background-color: blue;
}
.navbar{
    height: 70px;
}
#mynavbar{
    background-color: darkgreen;
}
#about-us:hover{
    background-color: whea;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 8px;
}
.vertical-line{
    border-left: 2px solid gray;
    height: 68px;
    position: absolute;
    left: 93%;
    margin-left: -3px;
    top: 0;
}
.account-icon{
    margin-right:15px;
}
.account-icon:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.modal-content{
    background-color: lightblue;
}
.required{
    color: red;
}
#new-account-coontainer{
    height: 200px;
    background-color: burlywood;
}
.col-register{
    height: 180px;
}
.modal-form{
    border-top: 2px solid black;
}
.model-new-account{
    color: black;
}
.create-account-btn{
    padding: 30px;
}
.carousel-img{
    width: 100%;
} */